<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">ПоЧеМуЧкА</a>
  
  <ul class="nav mr-auto">
    <li class="nav-item">
      <a class="nav-link btn-sm btn-outline-light {% if page_name == 'Главная' %}active{% endif %}" href="/">Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-sm btn-outline-light {% if page_name == 'Контакты' %}active{% endif %}" href="/contacts">Контакты</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-sm btn-outline-light {% if page_name == 'О нас' %}active{% endif %}" href="/about">О нас</a>
    </li>
  </ul>
</nav>

  <hr>